.wp-block-inbrackets-testimonial-slide {
	padding: 20px;
	border: 1px dashed #ccc;

	.testimonials-text {
		display: flex;
		flex-direction: column;
		gap: 5px;
		margin-top: 15px;
		text-align: center;

		.rich-text {
			display: block;
			margin: 0;
		}
	
		strong.rich-text {
			font-size: 1rem;
		}
	
		span.rich-text {
			font-size: 0.8rem;
			font-style: italic;
		}
	}
}
